<knob
    class={debug: debug}
    style="width:{ size }; height:{ size }; z-index:{ zindex }; margin:{ margin };"
>
    <script>

    </script>
    <style type="scss">

        knob {
            display: block;
            position: absolute;
            cursor: move;
        }

        knob.debug{
             background : #00F !important;
             opacity : .4;
             filter : 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';

             /*  Fancy CSS3 for debug */

             -webkit-border-radius  : 50%;
             border-radius : 50%;
         }

    </style>
    <script>

        /* Assign this to tag */

        const tag = this;

        const onMount = () => {

        };

        /*
         tag properties

         opts
            debug
            id_name
            size
            zindex
         */

        // opt
        tag.debug = Boolean(opts.debug);
        tag.id_name = 'jogdial_2';
        tag.size = opts.size;
        tag.zindex = opts.zindex;

        tag.margin = tag.size.replace('px', '') / 2 + 'px';
        tag.margin = `-${tag.margin} 0 0 -${tag.margin}`;
        // method


        // event listener
        tag.on('mount', onMount);
    </script>
</knob>
