<knob class={debug: debug}>
    <style type="scss">

        knob {
            display: block;
            position: absolute;
            cursor: move;
        }

        knob.debug{
             background : #00F !important;
             opacity : .4;
             filter : 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';

             /*  Fancy CSS3 for debug */

             -webkit-border-radius  : 50%;
             border-radius : 50%;
         }

    </style>
    <script>

        /* Assign this to tag */

        const tag = this;

        const onMount = () => {
          tag.root.style.zIndex = opts.zindex;
        };

        const setSize = (size) => {
          tag.root.style.width = size;
          tag.root.style.height = size;
        }



        /*
         tag properties

         opts
            debug
            id_name

         */

        // opt
        tag.debug = Boolean(opts.debug);
        tag.id_name = 'jogdial_2';

        // method
        tag.setSize = setSize;

        // event listener
        tag.on('mount', onMount);
    </script>
</knob>
