<wheel class={debug: debug } style="width:{size};height:{size};z-index:{zindex}">
    <script>
      import DomEvent from '../events/domevent'
    </script>
    <style type='scss'>

        wheel{
            display: block;
            position:absolute;
            left : 0;
            top : 0;
            cursor: default;
        }

        wheel.debug{
            background : #0F0 ;
            opacity : .4;
            filter : 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';

            /* Fancy CSS3 for debug */

            -webkit-border-radius  : 50%;
            border-radius : 50%;
        }


    </style>
    <script>


      /* Assign this to tag */

      const tag = this;

      riot.observable(tag.root);


      const onMount = () => {
        tag.root.style.zIndex = opts.zindex;

        tag.root.addEventListener(DomEvent.MOUSE_DOWN, tag.mouse_down);
        tag.root.addEventListener(DomEvent.MOUSE_MOVE, tag.mouse_move);
        tag.root.addEventListener(DomEvent.MOUSE_UP, tag.mouse_up);
        tag.root.addEventListener(DomEvent.MOUSE_OUT, tag.mouse_out);
      };

      const onUnMount = () => {
        tag.root.removeListener(DomEvent.MOUSE_DOWN, tag.mouse_down);
        tag.root.removeListener(DomEvent.MOUSE_MOVE, tag.mouse_move);
        tag.root.removeListener(DomEvent.MOUSE_UP, tag.mouse_up);
        tag.root.removeListener(DomEvent.MOUSE_OUT, tag.mouse_out);
      };

      const mouse_down = (e) => {
        tag.trigger(DomEvent.MOUSE_DOWN, e);
      }
      const mouse_move = (e) => {
        tag.trigger(DomEvent.MOUSE_MOVE, e);
      }
      const mouse_up = (e) => {
        tag.trigger(DomEvent.MOUSE_UP ,e);
      }
      const mouse_out = (e) => {
        tag.trigger(DomEvent.MOUSE_OUT ,e);
      }


      /*
       tag properties

       opts
           debug
           id_name
           size
           zindex
       */

      // opt
      tag.debug = Boolean(opts.debug);
      tag.id_name = 'jogdial_2';
      tag.size = opts.size;
      tag.zindex = opts.zindex;

      // method
      tag.mouse_down = mouse_down;
      tag.mouse_move = mouse_move;
      tag.mouse_up = mouse_up;
      tag.mouse_out = mouse_out;


      // event listener
      tag.on('mount', onMount);
      tag.on('unmount', onUnMount);
    </script>
</wheel>
